{% extends "base.html" %}{%block contact%}active{%endblock%} {% block content %} {% for contact in contacts %}

<!--   *** DETAIL ***-->
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
    <div class="small-navbar visible-xs">
        <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
        <h1 class="small-navbar-heading"> <a href="/">English with Nelly</a></h1>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="content-column-content">
                <h1>{{ contact.name }}</h1>
                <p class="lead">{{ contact.preface|linebreaksbr }}</p>
                <p>{{ contact.definition|linebreaksbr }}</p>
                <h4>You can find me also on:</h4>
                <p class="social social--big"><a href="{{ contact.fb }}" title="" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="gplus"><i class="fa fa-google-plus"></i></a><a href="#"
                        title="" class="instagram"><i class="fa fa-instagram"></i></a><a href="#" title="" class="email"><i class="fa fa-envelope"></i></a></p>
                <h4>Drop me a line, maybe?</h4>
                <form id="contact-form" method="post" action="http://formspree.io/nashulmans@mail.ru" class="contact-form form">
                    <div class="controls">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Your name *</label>
                                    <input type="text" name="name" id="name" required="required" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Your email *</label>
                            <input type="email" name="email" id="email" required="required" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="message">Your message for me *</label>
                            <textarea rows="4" name="message" id="message" required="required" class="form-control"></textarea>
                        </div>
                        <div>
                            <input type="submit" value="Send" class="btn btn-ghost">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}
